.sidenav {
    left: -270px;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    z-index: 99;
}

.frontside {
    width: 70px;
    height: 100vh;
}

.sideimg {
    width: 60px;
}

.backside {
    width: 270px;
}

.backside ul li {
    padding: 8px 0;
    position: relative;
    top: 300px;
}

.backside ul li a {
    color: white;
    text-decoration: none;
}

.sidenav i,
.sidenav li {
    cursor: pointer;
}

.content {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.inner:hover .content {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.contactpage {
    margin-top: 150px !important;
    width: 62%;
}

.contactpage input {
    margin: 10px 0;
    width: 400px;
    padding: 7px 9px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.message {
    background-color: #F8D7DA;
    color: #842029;
    padding: 15px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.recipeslist li{
    background-color: #cff4fc;
    padding: 6px;
    margin: 10px;
    color:#055160;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tag li{
    background-color: #F8D7DA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    color: #842029;
    padding: 5px;
}
.search input{
    width: 60%;
}
.search input::placeholder{
    color: white;
    opacity: 0.5;
}
.categorylayer{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.categoryitem:hover .categorylayer{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.loading{
    z-index:999;
}